.form{
    display: flex;
    justify-content: center;
}

.search-container{
    width: 500px;
    margin: 70px 0;
}

.search-box{
    width: 350px;
    border-radius: 5px 0 0 5px;
    padding: 10px 8px;
    font-size: 17px;
    border: 1px solid #1BAAD5;
    outline: none;
    color: #333;
}

.search-btn {
    padding: 11px 18px;
    font-size: 17px;
    background-image: linear-gradient(-180deg, #017DB7 0%, #0096db 100%);
    color: #fff;
    border: none;
    margin: -4px;
    border-radius: 0 5px 5px 0;
}

.search-btn:hover {
    background-image: linear-gradient(-180deg, #0072a7 0%, #007bb4 100%);
    cursor: pointer;
}

.weather-status {
    width: 350px;
    margin: 0 auto;
    padding: 15px 0;
    padding-left: 20px;
    border-radius: 20px;
    background: #fff;
}

.country-container {
    display: flex;
}

.country-container h1,h3 {
    color: #54637d;
}

.country-container p {
    margin-left: 10px;
    background-color: #0095da;
    height: 15px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

#temperature {
    font-size: 45px;
    color: #1e2431;
}

#condition {
  margin: 0;
  padding: 0;
  color: #54637d;
}

@media only screen and (max-width: 480px) {
    .search-box{
        width: 60%;
        margin: 0 5px;
    }
}